{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'ticket/css/ticket_list.css' %}" />
{% endblock extra_css %}
{% block content %}
  <div class="container grid-view">
    <h1>Заявки</h1>
    <ul class="ticket-list">
      {% for ticket in tickets.results %}
        <li class="ticket-card ticket-status--{{ ticket.status }}"
            data-id="{{ ticket.id }}">
          <div class="ticket-header">
            <h3>Заявка #{{ ticket.id }}</h3>
            <p class="ticket-status">{{ ticket.status_ru }}</p>
          </div>
          <span class="ticket-summary">{{ ticket.text }}</span>
          <div class="ticket-details">
            <p>{{ ticket.details }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
    <nav class="ticket-list-nav">
      {% if tickets.previous %}
        <a class="ticket-list-page-btn"
           href="{% url 'tickets-list' %}?page={{ tickets.previous }}&page_size={{ page_size }}">← Предыдущая</a>
      {% else %}
        <span disabled class="ticket-list-page-btn disabled">← Предыдущая</span>
      {% endif %}
      {% if tickets.next %}
        <a class="ticket-list-page-btn"
           href="{% url 'tickets-list' %}?page={{ tickets.next }}&page_size={{ page_size }}">Следующая →</a>
      {% else %}
        <span disabled class="ticket-list-page-btn disabled">Следующая →</span>
      {% endif %}
    </nav>
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
      document.addEventListener("DOMContentLoaded", () => {
          // Navigate to ticket page
          document.querySelectorAll(".ticket-card").forEach((card) => {
              card.addEventListener("click", () => {
                  const id = card.getAttribute("data-id");
                  window.location.href = `/tickets/${id}/`; // Рекомендуется добавлять слеш в конце URL
              });
          });
      });
  </script>
{% endblock extra_js %}
