{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="create-ticket-form-container">
        <form id="create-ticket-form" method="post">
            {{ create_ticket_form.as_p }}
            <input id="create-ticket-btn" type="button" value="Создать" />
        </form>
    </div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'ticket/js/create_ticket.js' %}"></script>
    <script src="{% static 'ticket/js/base.js' %}"></script>
{% endblock extra_js %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'ticket/css/create_ticket.css' %}" />
{% endblock extra_css %}
