{% extends "base.html" %}
{% load static %}
{% block extra_css %}
  <link rel="stylesheet" href="{% static 'ticket/css/ticket_list.css' %}" />
{% endblock extra_css %}
{% block content %}
  <div class="container grid-view">
    {% comment %} Блок команд перед списком заявок. Состоит из фильтров и кнопки создать заявку {% endcomment %}
    <div class="command-container">
      <div class="filters-container">
        {% comment %} Фильтр по статусу {% endcomment %}
        <div class="status-filters">
          <label for="status-filter">Статус:</label>
          <select name="status-filter-list" id="status-filter-list">
            <option value="All" {% if status == "All" or not status %}selected{% endif %}>Все</option>
            <option value="Created" {% if status == "Created" %}selected{% endif %}>Создана</option>
            <option value="Received" {% if status == "Received" %}selected{% endif %}>Получена</option>
            <option value="Closed" {% if status == "Closed" %}selected{% endif %}>Закрыта</option>
          </select>
        </div>
        {% comment %} Конец фильтра по статусу {% endcomment %}
        {% comment %} Фильтр по размеру страницы {% endcomment %}
        <div class="page-size-filter">
          <label for="page-size-filter-list">Размер страницы</label>
          <select name="page-size-filter-list" id="page-size-filter-list">
            <option value="10"
                    {% if page_size|stringformat:"s" == "10" %}selected{% endif %}>10</option>
            <option value="50"
                    {% if page_size|stringformat:"s" == "50" %}selected{% endif %}>50</option>
            <option value="100"
                    {% if page_size|stringformat:"s" == "100" %}selected{% endif %}>100</option>
            <option value="250"
                    {% if page_size|stringformat:"s" == "250" %}selected{% endif %}>250</option>
            <option value="500"
                    {% if page_size|stringformat:"s" == "500" %}selected{% endif %}>500</option>
          </select>
        </div>
        {% comment %} Конец фильтра по размеру страницы {% endcomment %}
        <a id="filters-link" href="#">Перейти</a>
        <script>
            const status_select = document.getElementById("status-filter-list");
            const page_size_select = document.getElementById("page-size-filter-list");
            const link = document.getElementById("filters-link");
            link.addEventListener("click", function(event) {
                event.preventDefault();
                window.location.href = `?status=${encodeURIComponent(status_select.value)}&page_size=${encodeURIComponent(page_size_select.value)}`;
            });
        </script>
      </div>
      <a id="create-ticket-link" href={% url "create-ticket" %}>Создать заявку</a>
    </div>
    {% comment %} Конец блока команд {% endcomment %}
    {% comment %} Список заявок {% endcomment %}
    <ul class="ticket-list">
      {% for ticket in tickets.results %}
        <li class="ticket-card ticket-status--{{ ticket.status }}"
            data-id="{{ ticket.id }}">
          <div class="ticket-header">
            <h3>Заявка #{{ ticket.id }}</h3>
            <p class="ticket-status">{{ ticket.status_ru }}</p>
          </div>
          <span class="ticket-summary">{{ ticket.text }}</span>
          <div class="ticket-details">
            <p>{{ ticket.details }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
    {% comment %} Конец списка зявок {% endcomment %}
    {% comment %} Кнопки вперед назад {% endcomment %}
    <nav class="ticket-list-nav">
      {% if tickets.previous %}
        <a class="ticket-list-page-btn"
           href="{% url 'tickets-list' %}?page={{ tickets.previous }}&page_size={{ page_size }}&status={{ status }}">← Предыдущая</a>
      {% else %}
        <span disabled class="ticket-list-page-btn disabled">← Предыдущая</span>
      {% endif %}
      {% if tickets.next %}
        <a class="ticket-list-page-btn"
           href="{% url 'tickets-list' %}?page={{ tickets.next }}&page_size={{ page_size }}&status={{ status }}">Следующая →</a>
      {% else %}
        <span disabled class="ticket-list-page-btn disabled">Следующая →</span>
      {% endif %}
    </nav>
  </div>
{% endblock content %}
{% block extra_js %}
  <script>
      document.addEventListener("DOMContentLoaded", () => {
          // Navigate to ticket page
          document.querySelectorAll(".ticket-card").forEach((card) => {
              card.addEventListener("click", () => {
                  const id = card.getAttribute("data-id");
                  window.location.href = `/tickets/${id}/`; // Рекомендуется добавлять слеш в конце URL
              });
          });
      });
  </script>
{% endblock extra_js %}
