{% extends "base.html" %}
{% load static %}
{% load querystring %}
{% block sidemenu %}
    {% include "sidemenu.html" %}
{% endblock sidemenu %}
{% block content %}
    <div class="table-wrapper">
        <div class="action-container">
            <button onclick="expandFiltersContainer()" class="filters-expand-btn">Фильтры</button>
            <div class="filters-row hidden" id="filtersContainer">
                <label>
                    Дата от:
                    <input type="date" name="created_after" id="filterDateFrom">
                </label>
                <label>
                    Дата до:
                    <input type="date" name="created_before" id="filterDateTo">
                </label>
                <label>
                    Подразделения:
                    <select name="subdivision" id="filterSubdivision" multiple size="3">
                        {% for subdivision in subdivision_list %}
                            <option value={{ subdivision.id }}>{{ subdivision.name }}
                            </option>
                        {% endfor %}
                    </select>
                </label>
                <label>
                    Статус:
                    <select name="status" id="filterStatus">
                        <option value="" {% if status == "All" or not status %}selected{% endif %}>Все</option>
                        <option value="Created" {% if status == "Created" %}selected{% endif %}>Создана</option>
                        <option value="Received" {% if status == "Received" %}selected{% endif %}>Получена</option>
                        <option value="Closed" {% if status == "Closed" %}selected{% endif %}>Закрыта</option>
                    </select>
                </label>
                <label>
                    Размер страницы:
                    <select name="page_size" id="pageSize">
                        <option value="10"
                                {% if page_size|stringformat:"s" == "10" %}selected{% endif %}>10</option>
                        <option value="50"
                                {% if page_size|stringformat:"s" == "50" %}selected{% endif %}>50</option>
                        <option value="100"
                                {% if page_size|stringformat:"s" == "100" %}selected{% endif %}>100</option>
                        <option value="250"
                                {% if page_size|stringformat:"s" == "250" %}selected{% endif %}>250</option>
                        <option value="500"
                                {% if page_size|stringformat:"s" == "500" %}selected{% endif %}>500</option>
                    </select>
                </label>
                <a id="applyFiltersLink" class="apply-filters-btn" href="#">Перейти</a>
            </div>
            <div id="filters-json" hidden>{{ filters|safe }}</div>
            <div>
                <button class="create-clusters-btn" onclick=clusterizationTickets()>Сгруппировать заяки</button>
                <button class="create-report-btn" onclick=generateReport()>Сформировать отчёт</button>
            </div>
            <div class="search-container">
                <input type="text" name="search-query" id="search-query">
            </div>
        </div>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" name="fields" value="id">
                            ID
                        </label>
                    </th>
                    <th>
                        <label>
                            <input type="checkbox" name="fields" value="created_at">
                            Дата создания
                        </label>
                    </th>
                    <th>
                        <label>
                            <input type="checkbox" name="fields" value="text">
                            Текст заявки
                        </label>
                    </th>
                    <th>
                        <label>
                            <input type="checkbox" name="fields" value="status">
                            Статус
                        </label>
                    </th>
                    <th>
                        <label>
                            <input type="checkbox" name="fields" value="report__text">
                            Отчёт
                        </label>
                    </th>
                    <th>
                        <label>
                            <input type="checkbox" name="fields" value="comment">
                            Комментарий
                        </label>
                    </th>
                    <th>
                        <label>
                            <input type="checkbox" name="fields" value="subdivisions__name">
                            Подразделения
                        </label>
                    </th>
                    <th>
                        <label>
                            <input type="checkbox" name="fields" value="department__name">
                            Служба
                        </label>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for ticket in tickets.results %}
                    <tr>
                        <td>
                            <a href={% url "ticket-detailed" ticket_id=ticket.id %}>{{ ticket.id }}</a>
                        </td>
                        <td>{{ ticket.created_at|date:"d.m.Y H:i" }}</td>
                        <td>{{ ticket.text }}</td>
                        <td>{{ ticket.status_ru }}</td>
                        <td>{{ ticket.report_text }}</td>
                        <td>{{ ticket.comment }}</td>
                        <td>{{ ticket.subdivisions }}</td>
                        <td>ДИТиС</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Всего часов: 4.5 аудиторных</td>
                </tr>
            </tfoot>
        </table>
        <nav class="ticket-list-nav">
            {% if tickets.previous %}
                <a class="ticket-list-page-btn"
                   href="{% url 'analytics:reports' %}{% query_transform page=tickets.previous %}">← Предыдущая</a>
            {% else %}
                <span disabled class="ticket-list-page-btn disabled">← Предыдущая</span>
            {% endif %}
            {% if tickets.next %}
                <a class="ticket-list-page-btn"
                   href="{% url 'analytics:reports' %}{% query_transform page=tickets.next %}">Следующая →</a>
            {% else %}
                <span disabled class="ticket-list-page-btn disabled">Следующая →</span>
            {% endif %}
        </nav>
    </div>
{% endblock content %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static "analytics/css/sidemenu.css" %}">
    <link rel="stylesheet" href="{% static "analytics/css/ticket_table.css" %}">
    <link rel="stylesheet" href="{% static "analytics/css/filters.css" %}">
    <link rel="stylesheet"
          href="{% static "analytics/css/actions_continer.css" %}">
{% endblock extra_css %}
{% block extra_js %}
    <script src="{% static 'analytics/js/sidebar.js' %}"></script>
    <script src="{% static 'analytics/js/filters.js' %}"></script>
    <script src="{% static 'analytics/js/generate_report.js' %}"></script>
    <script src="{% static 'analytics/js/cluster_tickets.js' %}"></script>
    <script src="{% static 'ticket/js/base.js' %}"></script>
{% endblock extra_js %}
