{% load static %}
{% block sidemenu %}
    <button id="sidebarToggle" class="sidebar-toggle" aria-label="Открыть меню">☰</button>
    <aside class="sidebar" id="sidebar">
        <ul>
            <li>
                <a href="{% url 'analytics:reports' %}"
                   class="{% if request.resolver_match.url_name == 'reports' %}active{% endif %}">Отчёты</a>
            </li>
            <li>
                <a href="{% url 'analytics:clustering' %}"
                   class="{% if request.resolver_match.url_name == 'clustering' %}active{% endif %}">Кластеры</a>
            </li>
        </ul>
    </aside>
{% endblock sidemenu %}
